* text=auto encoding=UTF-8
*.cs text diff=csharp
*.sln text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
/samples/** linguist-detectable
/tests/DotNetDBTools.UnitTests/TestData/** linguist-vendored
